.header {
    width: 100%;
    height:auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 8%; /* Adjust width as needed */
    height: 8%;
}

hr {
    width:90%;
    height: 1.5px; /* Set the desired thickness */
    /* Remove the default border */
    background-color: #070707; /* Set the color of the horizontal rule */
}
